<div class="main-content">
  <div class="wrapper">
    <nav>
      <input type="checkbox" id="show-menu" />
      <label for="show-menu" class="menu-icon"
        ><fa-icon class="toggleBut" [icon]="navToggle"></fa-icon
      ></label>
      <div class="content">
        <div class="logo"><a href="#">Logo</a></div>
        <ul class="links">
          <li>
            <a routerLink="" routerLinkActive="active">Home</a>
          </li>

          <li>
            <a href="#" class="desktop-link"
              >Manage<fa-icon
                style="padding-left: 5px"
                class="dropdownIcon"
                [icon]="dropdownToggle"
              ></fa-icon
            ></a>
            <input type="checkbox" id="show-features" />
            <label for="show-features"
              >Manage<fa-icon
                style="padding-left: 5px"
                class="dropdownIcon"
                [icon]="dropdownToggle"
              ></fa-icon
            ></label>
            <ul>
              <li><a routerLink="/client">Clients</a></li>
              <li><a routerLink="/department">Departments</a></li>
              <li><a routerLink="/project">Projects</a></li>
              <li><a routerLink="/users">Users</a></li>
            </ul>
          </li>
          <li><a routerLink="/timesheet">Edit Timesheets</a></li>
        </ul>
      </div>
      <div class="user-wrapper">
        <a href="#" title="view Profile">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/4/48/Outdoors-man-portrait_%28cropped%29.jpg"
            alt=""
            width="40px "
            height="40px"
          />
          <div>
            <h5>gowri</h5>
            <small>Admin</small>
          </div>
        </a>
        <div class="logout"><a routerLink="/login">Logout</a></div>
      </div>
    </nav>
  </div>
</div>
<!-- <div><router-outlet></router-outlet></div> -->
<!-- <main class="pageMain"><router-outlet></router-outlet></main> -->
<div class="content1"></div>
