a:link {
  color: #233e55;
  font-weight: normal;
  text-decoration: none;
}

.container {
  padding-top: 120px;
  padding-bottom: 120px;
}

input {
  padding: 22px 15px !important;
  border: 1px solid #cfd8dc !important;
  border-radius: 4px !important;
  box-sizing: border-box;
  background-color: #fff !important;
  color: #000 !important;
  font-size: 16px !important;
  letter-spacing: 1px;
  position: relative;
}
